*.iml
.gradle/
/build
/app/build

/local.properties

.idea/
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

*.log

.DS_Store
.directory

/captures

.externalNativeBuild
.cxx
.externalBuild/

*.keystore
*.jks

/backend/node_modules